* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    font-family: sans-serif;
}

#container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
}
label:last-of-type {
    margin: 20px 0;
    background-color: wheat;
    padding: 20px 20px 20px 0;
    border-radius: 0 15px 15px 0;
    color: white;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}
label:first-of-type {
    margin: 20px 0;
    background-color: wheat;
    padding: 20px;
    border-radius: 15px 0 0 15px;
    color: white;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

label button {
    color: wheat;
    background-color: white;
    border: 0px solid transparent;
    border-radius:  5px;
}

label button:hover {
    cursor: pointer;
}

label input {
    color: wheat;
    background-color: white;
    border: 0px solid transparent;
    border-radius:  5px;
}